.seccion-presentacion {
  height: 100vh;
  //background: rgba(255, 0, 0, 0.193);
  width: 100vw;
  max-width: 1200px;
  min-width: 550px;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 0;
  min-height: 850px;

 

  header {
    width: 100%;
    height: 20%;
    //background: rgba(255, 0, 0, 0.222);
    position: relative;

    .imgSombrero {
      position: absolute;
      width: 50%; //600px // 50%
      //transform: rotate(-60deg);
      z-index: 2;
      filter: drop-shadow(-20px 20px 12px rgba(0, 0, 0, 0.9));
      top: -40%;
      left: -15%;

      opacity: 0;
      animation: EfectSombreroIn 2s ease forwards 3.5s;
    }

    @keyframes EfectSombreroIn {
      0% {
        opacity: 1;
        transform: rotate(-50deg) translateX(200px);
      }

      20% {
        opacity: 1;
        transform: rotate(-55deg) translateX(40px);
      }

      100% {
        opacity: 1;
        transform: rotate(-60deg) translateX(0);
      }
    }

    .imgPulsera {
      position: absolute;
      width: 20%; //600px // 50%
      transform: rotate(10deg);
      z-index: 2;
      filter: drop-shadow(-5px 8px 3px rgba(0, 0, 0, 0.9));
      top: 5%;
      right: 35%;

      opacity: 0;
      animation: EfectPulseraIn 2s ease forwards 5s;
    }

    @keyframes EfectPulseraIn {
      0% {
        opacity: 0;
        transform: rotate(20deg) translateY(-200px);
      }

      20% {
        opacity: 1;
        transform: rotate(25deg) translateY(-40px);
      }

      100% {
        opacity: 1;
        transform: rotate(30deg) translateY(0);
      }
    }

    .imgAnteojos {
      position: absolute;
      width: 30%; //600px // 50%
      //transform: rotate(30deg);
      z-index: 2;
      filter: drop-shadow(-10px 10px 7px rgba(0, 0, 0, 0.9));
      top: 45%;
      right: 0%;

      opacity: 0;
      animation: EfectAnteojosIn 2s ease forwards 4.5s;
    }

    @keyframes EfectAnteojosIn {
      0% {
        opacity: 0;
        transform: rotate(20deg) translateX(200px);
      }

      20% {
        opacity: 1;
        transform: rotate(25deg) translateX(40px);
      }

      100% {
        opacity: 1;
        transform: rotate(30deg) translateX(0);
      }
    }
  }

  article {
    //background: rgba(0, 128, 0, 0.36);
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    .container-logo {
      scale: 1.4;
      transform: rotate(15deg);
      margin-right: 10%;
      margin-bottom: 30px;
    }

  }

  footer {
    //background: rgba(255, 255, 0, 0.181);
    height: 40%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    .container-button-principal-page {
      position: absolute;
      opacity: 0;
      backdrop-filter: blur(4px);
      border-radius: 20px 20px 100px 100px;
      animation: EfectBotonPrincipal 2s ease-in forwards 5.5s;

      .button-principal-page {
        background: rgba(255, 255, 255, 0.26);
        border-radius: 20px 20px 100px 100px;
        padding: 10px;
        border: 2px solid rgba(0, 0, 0, 0.505);
        //backdrop-filter: blur(4px);
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.575);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none; 

       

        animation: fadeButtonPrincipal 3s infinite;
        transition: all 1s;

        p {
          font-family: "Source Sans Pro", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12pt;
          font-weight: 1000;
          margin: 3px;

        }

        &:hover {
          background: rgba(168, 92, 0, 0.267);
        }
        &:active {
          transition: all 0.5s;
          background: rgba(69, 69, 69, 0.452);
        }
      }

      @keyframes fadeButtonPrincipal{
        0%, 100% {
          box-shadow: 0px 0px 26px 18px rgba(80, 48, 1, 0.738);
          //backdrop-filter: blur(5px);
          color: rgba(0, 0, 0, 0.741);
          fill: rgba(0, 0, 0, 0.6);
        }
      
        50% {
          box-shadow: 0px 0px 16px 8px rgba(38, 38, 38, 0.493);
          //backdrop-filter: blur(3px);
          color: rgba(0, 0, 0, 0.593);
          fill: rgba(0, 0, 0, 0.333);
        }
      }


    }

    @keyframes EfectBotonPrincipal {
      0% {
        opacity: 0;
        transform: translateY(200px);
      }

      50% {
        opacity: 1;
        transform: translateY(100px) ;
      }

      100% {
        opacity: 1;
        transform: translateY(0) ;
      }
    }

    

    .container-map {
      position: relative;
      //background: rgba(0, 0, 0, 0.515);
      width: 75%;
      height: auto;
      transform: rotate(15deg);
      margin-top: 10%;

      .imgMap {
        position: relative;
        width: 100%; //900px
        height: auto;
        z-index: 1;
        filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.9));

        opacity: 0;
        animation: EfectMapIn 3s ease forwards 2s;
      }

      @keyframes EfectMapIn {
        0% {
          opacity: 0;
          transform: translateY(100px);
        }

        20% {
          opacity: 1;
          transform: translateY(20px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .imgPlanta1 {
        position: absolute;
        width: 15%;
        //transform: rotate(-65deg);
        z-index: 2;
        filter: drop-shadow(-10px 12px 6px rgba(0, 0, 0, 0.9));
        bottom: -14%;
        left: 30%;

        opacity: 0;
        animation: EfectPlataIn 2s ease-in forwards 5s;
      }

      @keyframes EfectPlataIn {
        0% {
          opacity: 0;
          transform: rotate(-50deg) translateY(100px);
        }

        20% {
          opacity: 1;
          transform: rotate(-50deg) translateY(100px);
        }

        100% {
          opacity: 1;
          transform: rotate(-65deg) translateY(0);
        }
      }

      .imgBirome {
        position: absolute;
        width: 32%; //25% // 300px
        //transform: rotate(-10deg);
        z-index: 2;
        filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.9));
        bottom: 10vw;
        right: 10vh;

        opacity: 0;
        animation: EfectBiromeIn 2s ease-in forwards 5.5s;
      }

      @keyframes EfectBiromeIn {
        0% {
          opacity: 0;
          transform: rotate(0deg) translateY(200px) translateX(100px);
        }

        50% {
          opacity: 1;
          transform: rotate(0deg) translateY(100px) translateX(50px);
        }

        100% {
          opacity: 1;
          transform: rotate(-10deg) translateY(0) translateX(0);
        }
      }
    }

    .imgBrujula {
      position: absolute;
      width: 16%;
      //transform: rotate(0deg);
      z-index: 3;
      filter: drop-shadow(6px 10px 6px rgba(0, 0, 0, 0.9));
      left: 35%;
      top: -10vw;

      opacity: 0;
      animation: EfectBrujulaIn 2s linear forwards 6s;
    }

    @keyframes EfectBrujulaIn {
      0% {
        opacity: 0;
        transform: rotate(20deg) translateY(200px) translateX(200px);
      }

      20% {
        opacity: 1;
        transform: rotate(10deg) translateY(40px) translateX(40px);
      }

      100% {
        opacity: 1;
        transform: rotate(0deg) translateY(0) translateX(0);
      }
    }

    .imgCamara {
      position: absolute;
      width: 25%; //25% // 300px
      //transform: rotate(-10deg);
      z-index: 2;
      filter: drop-shadow(-20px 20px 12px rgba(0, 0, 0, 0.9));
      top: 60px;
      right: 0px;

      opacity: 0;
      animation: EfectCamara 1s linear forwards 4.5s;
    }

    @keyframes EfectCamara {
      0% {
        opacity: 0;
        transform: translateX(200px) rotate(0deg);
      }

      50% {
        opacity: 1;
        transform: translateX(100px) rotate(-5deg);
      }

      100% {
        opacity: 1;
        transform: translateX(0) rotate(-10deg);
      }
    }

    .imgBinoculares {
      position: absolute;
      width: 20%; // 250px
      //transform: rotate(-70deg);
      z-index: 2;
      filter: drop-shadow(-10px 12px 6px rgba(0, 0, 0, 0.9));
      top: 40px;
      left: 0px;

      opacity: 0;
      animation: EfectBinoculares 1s linear forwards 4.5s;
    }

    @keyframes EfectBinoculares {
      0% {
        opacity: 0;
        transform: translateX(-200px) rotate(-60deg);
      }

      50% {
        opacity: 1;
        transform: translateX(-100px) rotate(-65deg);
      }

      100% {
        opacity: 1;
        transform: translateX(0) rotate(-70deg);
      }
    }

  }
}

.seccion-libro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 100vw;
  max-width: 1200px;
  min-width: 550px;

  .seccion-libro-header {
    //background: rgba(0, 128, 0, 0.636);
    width: 100%;
    height: 300px;
  }

  .seccion-libro-article {
    //background: rgba(255, 0, 0, 0.248);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;

  }


}

.seccion-footer {
  //background: rgba(255, 255, 0, 0.337);
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  transition: all 0.5s ease;

 

  max-width: 1200px;
  min-width: 550px;

  span {
    color: rgba(255, 255, 255, 0.637);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .imgMate {
    position: absolute;
    //transform: rotate(0deg);
    z-index: 3;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    left: 30px;
    bottom: 30px;
    width: 25%;

    opacity: 0;
    animation: EfectMateIn 2s linear forwards 1s;
  }

  @keyframes EfectMateIn {
    0% {
      opacity: 0;
      transform: rotate(20deg) translateY(100px) translateX(100px);
    }

    20% {
      opacity: 1;
      transform: rotate(5deg) translateY(40px) translateX(40px);
    }

    100% {
      opacity: 1;
      transform: rotate(0deg) translateY(0) translateX(0);
    }
  }

  .imgTermo {
    position: absolute;
    //transform: rotate(-20deg);
    z-index: 3;
    filter: drop-shadow(20px 20px 13px rgba(0, 0, 0, 0.9));
    right: 30px;
    bottom: 30px;
    width: 28%;

    opacity: 0;
    animation: EfectTermoIn 2s linear forwards 1s;
  }

  @keyframes EfectTermoIn {
    0% {
      opacity: 0;
      transform: rotate(-10deg) translateY(100px) translateX(-100px);
    }

    20% {
      opacity: 1;
      transform: rotate(-5deg) translateY(40px) translateX(-40px);
    }

    100% {
      opacity: 1;
      transform: rotate(0deg) translateY(0) translateX(0);
    }
  }

}


@media only screen and (max-width: 1150px) {
  .seccion-libro-header {
    //background: rgb(13, 255, 0);
    height: 25vw;
  }
}

@media only screen and (max-width: 950px) {
  .seccion-libro-header {
    //background: red;
    height: 25vw !important;
  }

  .seccion-footer {
    height: 200px !important;
  }

  .seccion-libro-header {
    height: 200px;

  }
}

@media only screen and (max-width: 660px) {
  .seccion-libro-header {
    //background: green;
    height: 130px !important;
  }

  .seccion-footer {
    height: 160px !important;

    .imgMate {
      bottom: 40px;
    }
  }

}