.flechaDerecha {
  transform: rotate(-90deg);
  fill: rgba(255, 255, 255, 0.514);
  width: 70px;
  padding-top: 10px;
}
.flechaIzquierda {
  transform: rotate(90deg);
  fill: rgba(255, 255, 255, 0.514);
  width: 70px;
  padding-top: 10px;
}

