.conteiner-PagePrincipal {

  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 560px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

 


  .container-SectionAPP1  {
   

    
  }
  .container-SectionAPP2  {
   
  

  }
  .container-SectionAPP3  {


  }


}

